@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-size: 16px;
}

body {
  background-color: hsl(31, 100%, 96%);
  color: hsl(0, 0%, 0%);
}

.container {
  padding: 0 1rem;
}
@media (min-width: 820px) {
  .container {
    padding: 0 2rem;
  }
}
@media (min-width: 1022px) {
  .container {
    padding: 0 3.5rem;
  }
}

.button {
  padding: 1.2rem 2.5rem;
  background-color: hsl(266, 100%, 64%);
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border: 3px solid hsl(0, 0%, 0%);
  box-shadow: 3px 2px 0px black;
  cursor: pointer;
}
@media (min-width: 820px) {
  .button {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
}
.button:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 2px black;
}

.header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: hsl(31, 100%, 96%);
  font-family: "Inter", sans-serif;
}
.header__nav {
  display: none;
}
@media (min-width: 820px) {
  .header__nav {
    display: flex;
    justify-content: flex-end;
    width: 70%;
  }
}
.header__list {
  display: flex;
  align-items: center;
}
.header__list-item {
  padding-left: 5rem;
  list-style: none;
  cursor: pointer;
}
.header__link {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  transition: 0.2s ease;
}
.header__link:hover {
  color: hsl(266, 100%, 64%);
}
.header__button {
  display: none;
}
@media (min-width: 820px) {
  .header__button {
    display: block;
  }
}
.header__burger {
  cursor: pointer;
  padding: 20px 10px;
  background: hsl(266, 100%, 64%);
  display: block;
}
@media (min-width: 820px) {
  .header__burger {
    display: none;
  }
}
.header__span {
  background: hsl(0, 0%, 0%);
  height: 3px;
  width: 30px;
  display: block;
  position: relative;
  transition: all ease 0.1s;
}
.header__span:after, .header__span:before {
  background: hsl(0, 0%, 0%);
  height: 3px;
  width: 30px;
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  transition: all ease 0.2s;
}
.header__span:before {
  top: -8px;
}

.logo {
  width: 65px;
}
@media (min-width: 820px) {
  .logo {
    width: 70px;
  }
}
@media (min-width: 1022px) {
  .logo {
    width: 75px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hero__title {
  font-family: "IBM Plex Mono", monospace;
  font-size: 3rem;
  line-height: 2.8rem;
  text-align: center;
  padding-bottom: 3rem;
}
@media (min-width: 820px) {
  .hero__title {
    font-size: 4rem;
  }
}
.hero__span {
  color: hsl(59, 100%, 64%);
  text-shadow: 3px 3px hsl(0, 0%, 0%);
  text-shadow: -2px 0 black, 3px 3px black, 3px 0 black, 0 -2px black;
}
.hero__paragraph {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 4rem;
}
@media (min-width: 820px) {
  .hero__paragraph {
    font-size: 1.5rem;
  }
}

.transfer {
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 820px) {
  .transfer {
    height: 100vh;
    flex-direction: row-reverse;
    padding: 0 5rem;
    gap: 2rem;
  }
}
.transfer__title {
  font-family: "Inter", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1.5rem;
}
@media (min-width: 820px) {
  .transfer__title {
    text-align: left;
    flex: 1;
  }
}
@media (min-width: 1022px) {
  .transfer__title {
    font-size: 2.2rem;
  }
}
.transfer__span {
  font-weight: 700;
}
.transfer__image {
  width: 100%;
}
@media (min-width: 820px) {
  .transfer__image {
    flex: 1;
  }
}
.transfer__img {
  width: 100%;
}

.global {
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 820px) {
  .global {
    height: 100vh;
    flex-direction: row;
  }
}
@media (min-width: 1022px) {
  .global {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.global__text {
  text-align: center;
}
@media (min-width: 820px) {
  .global__text {
    text-align: right;
    flex: 1;
  }
}
.global__title {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 820px) {
  .global__title {
    font-size: 2.2rem;
  }
}
@media (min-width: 1022px) {
  .global__title {
    font-size: 2.6rem;
  }
}
.global__paragraph {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
@media (min-width: 820px) {
  .global__paragraph {
    font-size: 1.3rem;
    padding-bottom: 4rem;
  }
}
.global__link {
  color: hsl(0, 0%, 0%);
  font-size: 1.3rem;
}
.global__link:hover {
  color: hsl(266, 100%, 64%);
}
@media (min-width: 820px) {
  .global__link {
    font-size: 1.5rem;
  }
}
.global__link::after {
  content: "→";
}
.global__image {
  width: 100%;
}
@media (min-width: 820px) {
  .global__image {
    flex: 1;
  }
}
.global__img {
  width: 100%;
}

.time {
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 820px) {
  .time {
    height: 100vh;
    flex-direction: row-reverse;
    text-align: left;
    gap: 5rem;
  }
}
@media (min-width: 820px) {
  .time {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 820px) {
  .time__text {
    flex: 2;
  }
}
.time__title {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 820px) {
  .time__title {
    font-size: 2.2rem;
  }
}
@media (min-width: 820px) {
  .time__title {
    font-size: 2.5rem;
  }
}
.time__paragraph {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding-bottom: 1.5rem;
}
.time__button {
  margin-bottom: 2rem;
}
.time__image {
  width: 100%;
  padding-bottom: 2rem;
}
@media (min-width: 820px) {
  .time__image {
    flex: 1;
  }
}
.time__img {
  width: 70%;
}
@media (min-width: 820px) {
  .time__img {
    width: 100%;
  }
}

.footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  border: 2px solid hsl(0, 0%, 0%);
}
@media (min-width: 820px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__logo {
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}
.footer__nav {
  padding-bottom: 1.5rem;
}
@media (min-width: 820px) {
  .footer__list {
    -moz-column-count: 3;
         column-count: 3;
    text-align: left;
  }
}
.footer__list-item {
  list-style: none;
  font-size: 1rem;
}
.footer__list-item:nth-child(1), .footer__list-item:nth-child(5), .footer__list-item:nth-child(8) {
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 1rem;
}
.footer__link {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  transition: 0.2s ease;
}
.footer__link:hover {
  filter: invert(30%) sepia(90%) saturate(2763%) hue-rotate(250deg) brightness(101%) contrast(102%);
}
.footer__social-img {
  cursor: pointer;
  padding-left: 0.5rem;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 4px solid hsl(0, 0%, 0%);
  box-shadow: 7px 6px 5px black;
  height: 250px;
  background-color: hsl(59, 100%, 64%);
}
@media (min-width: 820px) {
  .main__box {
    width: 75%;
    height: 300px;
  }
}
@media (min-width: 1022px) {
  .main__box {
    width: 45%;
    height: 400px;
  }
}
.main__title {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1rem;
}
@media (min-width: 820px) {
  .main__title {
    padding-top: 2rem;
    font-size: 1.6rem;
  }
}
@media (min-width: 820px) {
  .main__title {
    font-size: 2rem;
  }
}
.main__paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
@media (min-width: 820px) {
  .main__paragraph {
    font-size: 1.6rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 820px) {
  .main__paragraph {
    font-size: 2rem;
  }
}

.welcome {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.welcome__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 55%;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 0%);
  box-shadow: 7px 6px 5px black;
}
@media (min-width: 820px) {
  .welcome__box {
    width: 75%;
    height: 60%;
  }
}
.welcome__title {
  font-family: "IBM Plex Mono", monospace;
  padding-bottom: 1.5rem;
}
.welcome__input {
  width: 300px;
  margin-bottom: 1.5rem;
  border: 2px solid hsl(0, 0%, 0%);
  padding: 0.5rem;
  font-family: hsl(0, 0%, 100%);
}
.welcome__socials {
  display: flex;
  gap: 1rem;
  margin-top: 5.5rem;
  padding: 0.2rem;
  border: 2px solid hsl(0, 0%, 0%);
}
.welcome__img {
  width: 30px;
}
.welcome__link:hover {
  filter: invert(30%) sepia(90%) saturate(2763%) hue-rotate(250deg) brightness(101%) contrast(102%);
}/*# sourceMappingURL=style.css.map */