@use "variables" as v;
@use "mixins" as *;

.footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: v.$primary-color-2;
  font-family: v.$ff-2;
  text-align: center;
  border: 2px solid v.$primary-color-1;

  @include breakpoints-up(semimedium) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
  }

  @include breakpoints-up(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include breakpoints-up(large) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &__nav {
    padding-bottom: 1.5rem;

    @include breakpoints-up(semimedium) {
      flex-grow: 1;
    }

    @include breakpoints-up(medium) {
      flex-grow: 0;
    }
  }

  &__list {
    @include breakpoints-up(medium) {
      column-count: 3;
      text-align: left;
    }
  }

  &__list-item {
    list-style: none;
    font-size: 1rem;
  }

  &__list-item:nth-child(1),
  &__list-item:nth-child(5),
  &__list-item:nth-child(8) {
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  &__link {
    text-decoration: none;
    color: v.$primary-color-1;
    transition: 0.2s ease;
    cursor: pointer;

    &:hover {
      color: #9747ff;
    }
  }

  &__link:not(:first-child) {
    margin-left: 0.5rem;
  }

  &__social-link {
    display: inline-block;
    width: 35px;
    height: 35px;
    transition: 0.7s;

    & svg rect:hover {
      fill: #9747ff;
    }

    // & svg path:hover {
    //   fill: #9747ff;
    //   stroke: #9747ff;
    // }
  }

  &__twitter svg path:hover {
    fill: #9747ff;
    stroke: #9747ff;
  }

  &__social-img {
    width: 100%;
  }
}
