@use "variables" as v;
@use "mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-size: 16px;
}

body {
    background-color: v.$background-color;
    color: v.$primary-color-1;
}

.container {
    padding: 0 1rem;

    @include breakpoints-up(medium) {
        padding: 0 2rem;
    }

    @include breakpoints-up(large) {
        padding: 0 4rem;
    }
}


.button {
    padding: 0.6rem 1.4rem;
    background-color: v.$accent-color-2;
    color: v.$primary-color-2;
    font-weight: 700;
    border: 3px solid v.$primary-color-1;
    box-shadow: 3px 2px 0px black;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}



