@use "variables" as v;
@use "mixins" as *;

.global {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  margin-bottom: 60px;

  @include breakpoints-up(medium) {
    flex-direction: row;
    margin-bottom: 115px;
    padding-left: 48px;
    padding-right: 48px;
  }

  &__text {
    text-align: center;
    @include breakpoints-up(medium) {
      text-align: right;
      flex: 1;
    }
  }

  &__title {
    font-family: v.$ff-2;
    font-size: 1.8rem;
    letter-spacing: -0.1rem;
    padding-bottom: 1.5rem;

    @include breakpoints-up(large) {
      font-size: 2.2rem;
    }
  }

  &__paragraph {
    font-family: v.$ff-1;
    font-size: 1.2rem;
    padding-bottom: 1rem;

    @include breakpoints-up(medium) {
      padding-bottom: 4rem;
    }
  }

  &__link {
    color: v.$primary-color-1;
    font-size: 1.1rem;

    &:hover {
      color: v.$accent-color-2;
    }

    @include breakpoints-up(medium) {
      font-size: 1.3rem;
    }
  }

  &__wrapper {
    width: 100%;

    @include breakpoints-up(medium) {
      flex: 1;
    }
  }

  &__image {
    position: relative;
    border-radius: 50%;
    width: 90%;
    padding-bottom: 90%;
    background-color: v.$accent-color-4;
    margin: 0 auto;
    box-shadow: 7px 6px black;
  }

  &__spot1 {
    position: absolute;
    top: 10%;
    right: 18%;
    width: 35%;
  }

  &__spot2 {
    position: absolute;
    top: 50%;
    right: 25%;
    width: 42%;
  }

  &__spot3 {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 20%;
  }

  &__arrow {
    position: absolute;
    top: 7%;
    left: 0;
    width: 93%;
  }

  &__line {
    position: absolute;
    top: 15%;
    left: 35%;
  }

  &__shake {
    animation: shake 0.7s infinite;
  }
}
