@use "variables" as v;
@use "mixins" as *;

.global {
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include breakpoints-up(medium) {
    height: 100vh;
    flex-direction: row;
  }

  @include breakpoints-up(large) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  &__text {
    text-align: center;
    @include breakpoints-up(medium) {
      text-align: right;
      flex: 1;
    }
  }

  &__title {
    font-family: v.$ff-2;
    font-size: 1.8rem;
    padding-bottom: 1.5rem;

    @include breakpoints-up(large) {
      font-size: 2rem;
    }
  }

  &__paragraph {
    font-family: v.$ff-1;
    font-size: 1.2rem;
    padding-bottom: 1rem;

    @include breakpoints-up(medium) {
      padding-bottom: 4rem;
    }
  }

  &__link {
    color: v.$primary-color-1;
    font-size: 1.3rem;

    &:hover {
      color: v.$accent-color-2;
    }

    @include breakpoints-up(medium) {
      font-size: 1.5rem;
    }
  }

  &__link::after {
    content: "\2192";
  }

  &__image {
    width: 100%;

    @include breakpoints-up(medium) {
      flex: 1;
    }
  }

  &__img {
    width: 100%;
  }
}
