@use "variables" as v;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: v.$background-color;
  color: v.$primary-color-1;
  font-family: v.$ff-1;
  contain: paint;
}

.body-wrapper {
  position: relative;
  min-height: 100vh;
}

.no-scroll {
  overflow-y: hidden;
  height: 100vh;
}

.container {
  padding: 0 16px;
  max-width: 1440px;
  margin: 0 auto;

  @include breakpoints-up(medium) {
    padding: 0 32px;
  }

  @include breakpoints-up(large) {
    padding: 0 48px;
  }
}

.button {
  padding: 19px 40px;
  background-color: v.$accent-color-2;
  font-size: 18px;
  font-family: v.$ff-1;
  color: v.$primary-color-2;
  font-weight: 700;
  border: 3px solid v.$primary-color-1;
  box-shadow: 3px 2px 0px black;
  cursor: pointer;
  transition: 0.3s;

  @include breakpoints-up(medium) {
    padding: 13px 24px;
    font-size: 14px;
  }

  &:hover {
    background-color: yellow;
    color: black;
    box-shadow: 4px 4px 2px black;
  }
}

.logo {
  width: 55px;
  transition: 0.2s;

  &:hover {
    filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.7));
  }

  @include breakpoints-up(medium) {
    width: 70px;
  }

  @include breakpoints-up(large) {
    width: 75px;
  }
}
