@use "variables" as v;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  //changed height to auto instead of 100vh;
  //it fixed position sticky in the header
  // height: auto;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: v.$background-color;
  color: v.$primary-color-1;
  font-family: v.$ff-1;
  overflow-x: hidden;
}

.container {
  padding: 0 16px;
  max-width: 1440px;
  margin: 0 auto;

  @include breakpoints-up(medium) {
    padding: 0 32px;
  }

  @include breakpoints-up(large) {
    padding: 0 48px;
  }
}

.button {
  padding: 1.2rem 2.5rem;
  background-color: v.$accent-color-2;
  font-size: 1rem;
  color: v.$primary-color-2;
  font-weight: 700;
  border: 3px solid v.$primary-color-1;
  box-shadow: 3px 2px 0px black;
  cursor: pointer;
  transition: 0.3s;

  @include breakpoints-up(medium) {
    padding: 0.8rem 1.5rem;
    font-size: 14px;
  }

  &:hover {
    background-color: yellow;
    color: black;
    box-shadow: 4px 4px 2px black;
  }
}

.logo {
  width: 55px;
  transition: 0.2s;

  &:hover {
    filter: drop-shadow(3px 3px 1px rgb(0 0 0 / 0.7));
  }

  @include breakpoints-up(medium) {
    width: 70px;
  }

  @include breakpoints-up(large) {
    width: 75px;
  }
}
