@use "variables" as v;
@use "mixins" as *;

.transfer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 80px 0;

  @include breakpoints-up(medium) {
    flex-direction: row-reverse;
    padding: 0 48px;
    margin-bottom: 115px;
    gap: 32px;
  }

  &__title {
    font-family: v.$ff-1;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;

    @include breakpoints-up(medium) {
      text-align: left;
      flex: 1;
    }

    @include breakpoints-up(large) {
      font-size: 36px;
    }
  }

  &__span {
    font-weight: 700;
  }

  &__image {
    position: relative;
    width: 100%;

    @include breakpoints-up(medium) {
      flex: 1;
    }
  }

  &__rectangle {
    width: 95%;
    background-color: v.$accent-color-2;
    box-shadow: 7px 6px black;
    margin: 0 auto;
    //The padding-top property is what governs the height and aspect ratio of the rectangle. Remember that this value is calculated based on the width of the element.

    &:before {
      content: "";
      display: block;
      padding-top: 45%;
    }
  }

  &__rectangle-small1 {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 20%;
  }

  &__rectangle-small2 {
    position: absolute;
    top: 10%;
    right: 6%;
    width: 20%;
  }

  &__arrow {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 30%;
  }

  &__percent {
    position: absolute;
    display: block;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -8%);
    font-size: 28px;
    font-family: v.$ff-2;
    color: v.$primary-color-2;
    font-weight: bold;
  }
}
