// COLORS

$primary-color-1: hsl(0, 0%, 0%);
$primary-color-2: hsl(0, 0%, 100%);

$accent-color-1: hsl(59, 100%, 64%);
$accent-color-2: hsl(266, 100%, 64%);
$accent-color-3: hsla(101, 100%, 34%, 1);

$background-color: hsl(31, 100%, 96%);

// FONTS

$ff-1: 'Inter', sans-serif;
$ff-2: 'IBM Plex Mono', monospace;

