// COLORS

$primary-color-1: #000000;
$primary-color-2: #ffffff;

$accent-color-1: #fffc47;
$accent-color-2: #9747ff;
$accent-color-3: #37ad00;
$accent-color-4: #000aff;

$background-color: #fff5eb;

// FONTS

$ff-1: "Inter", sans-serif;
$ff-2: "IBM Plex Mono", monospace;
